main{
    margin-top: 80px;
}
* {
    box-sizing: border-box;
}

img {
    width:100%;
}

.car {
    margin:5%;
    width:80%;
    outline: 5px solid green;
    background: lightgray;
}

p {
    margin:5px;
}


.floating-menu-top{
    width:100%;
    position:fixed;
    top:3px;
}
.floating-menu-bottom{
    background-color:lightblue;
    font-size: large;
    width:100%;
    position:fixed;
    bottom:20px;
}
.button{
    width:25%;
    float:right;
}
.column{
    padding:3px;
}
.text{
    width:75%;
    float:left;
}
.column:after{
    content: "";
    display:table;
    clear: both;
}
.number{
    width:15%;
    float:left;
}
.input{
    width:55%;
    float:left;
}