main{
    margin-top: 80px;
}
* {
    box-sizing: border-box;
}

.car_img {
    width:100%;
}

.logo {
    float:left;
    height:100%;
}

.car {
    float:left;
    width:22%;
    margin:7px;
    outline: 5px solid royalblue;
    background: lightgray;
    min-width:100px;
    max-width:150px;
    min-height:180px;
}

p {
    margin:5px;
}


.floating-menu-top{
    background-color:black;
    width:100%;
    position:fixed;
    top:3px;
    float:left;
    height:75px;
    min-width: 375px;
}

.name{
    width:80%;
    float:right;
    color:royalblue;
    text-align:right;
    padding-right:40px;
}
.floating-menu-bottom{
    background-color:lightblue;
    font-size: large;
    width:100%;
    position:fixed;
    bottom:20px;
}
.button{
    width:25%;
    float:right;
}
.column{
    padding:3px;
}
.text{
    width:75%;
    float:left;
}
.column:after{
    content: "";
    display:table;
    clear: both;
}
.number{
    width:15%;
    float:left;
}
.input{
    width:55%;
    float:left;
}
.sidenav{
    width:0px;
    position:fixed;
    top:20%;
    left:0;
    height:70%;
    transition:0.5s;
    padding-top:22px;
    font-size:12px;
    background-color:lightGray;
    overflow-x:hidden;
}
.sidenavimg{
    top: 20%;
    left:250px;
    transition:.5s;
    position:fixed;
    height:0;
    
}
.sidenav h1{
    padding-left:8px;
    padding-right:8px;
}
.sidenav p{
    padding-left:8px;
    padding-right:8px;
}
.sidenav .closebtn{
    position: absolute;
    top:0;
    right:25px;
    font-size:36px;
    margin-left:50px;
}