main{
    margin-top: 80px;
}
* {
    box-sizing: border-box;
}
.floating-menu-top{
    width:100%;
    position:fixed;
    top:3px;
}
.floating-menu-bottom{
    background-color:lightblue;
    font-size: large;
    width:100%;
    position:fixed;
    bottom:20px;
}
.button{
    width:25%;
    float:right;
}
.column{
    padding:3px;
}
.text{
    width:75%;
    float:left;
}
.column:after{
    content: "";
    display:table;
    clear: both;
}
.number{
    width:15%;
    float:left;
}
.input{
    width:55%;
    float:left;
}